.bg-red{
    background-color: red;

}
.bg-blue{
    background-color: blue;
}
h1{
    text-align: center;
}

    
main{
   
    width: 50rem;
    margin: 3rem auto 0 auto;
    margin-top: 5rem;
    
}
main section{
    box-sizing: border-box;
    width: 50%;
    float: left;
    height: 25rem;
    text-align: center;
}
input{
    box-sizing: border-box;
    width: 80%;
    height: 3rem;

}
input[type="email"], input[type="password"]{
    padding-left: 0.5rem;
    background-color: rgb(226, 218, 218);
    border: 1px solid lightseagreen;

}
input[type='submit']{
    background-color: lightseagreen;
    border: 1px solid lightseagreen;
    color:white;
    font: bold;
}
section :not(:first-child){
    margin: top 0.5rem;
}
section :last-child {
    margin-top: 1.5rem;

}
@media screen and (max-width: 817px) {
    main{
        width: 100%;
    }
    main section {
        width: 100%;
    }
    
}